<launch>
  <arg name="image_view" default="true" />

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <rosparam command="load" file="$(find usb_cam)/config/usb_cam.yml"/>
  </node>
  <!-- <node name="usb_cam1" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <rosparam command="load" file="$(find usb_cam)/config/usb_cam1.yml"/>
  </node>
  <node name="usb_cam2" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <rosparam command="load" file="$(find usb_cam)/config/usb_cam2.yml"/>
  </node>
  <node name="usb_cam3" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <rosparam command="load" file="$(find usb_cam)/config/usb_cam3.yml"/>
  </node>
  <node name="usb_cam4" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <rosparam command="load" file="$(find usb_cam)/config/usb_cam4.yml"/>
  </node>
  <node name="usb_cam5" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <rosparam command="load" file="$(find usb_cam)/config/usb_cam5.yml"/>
  </node> -->
  <node if="$(arg image_view)" name="image_view0" pkg="image_view" type="image_view"
        respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="false" />
  </node>
  <!-- <node if="$(arg image_view)" name="image_view1" pkg="image_view" type="image_view"
        respawn="false" output="screen">
    <remap from="image" to="/usb_cam1/image_raw"/>
    <param name="autosize" value="false" />
  </node>
  <node if="$(arg image_view)" name="image_view2" pkg="image_view" type="image_view"
        respawn="false" output="screen">
    <remap from="image" to="/usb_cam2/image_raw"/>
    <param name="autosize" value="false" />
  </node>
  <node if="$(arg image_view)" name="image_view3" pkg="image_view" type="image_view"
        respawn="false" output="screen">
    <remap from="image" to="/usb_cam3/image_raw"/>
    <param name="autosize" value="false" />
  </node>
  <node if="$(arg image_view)" name="image_view4" pkg="image_view" type="image_view"
        respawn="false" output="screen">
    <remap from="image" to="/usb_cam4/image_raw"/>
    <param name="autosize" value="false" />
  </node>
  <node if="$(arg image_view)" name="image_view5" pkg="image_view" type="image_view"
        respawn="false" output="screen">
    <remap from="image" to="/usb_cam5/image_raw"/>
    <param name="autosize" value="false" />
  </node> -->
</launch>
